@CHARSET "ISO-8859-1";

.div-general-modulo {
	position: relative;
	width: 40%;
	height: 30%;
	margin-left: 45%;
	margin-top: 4%;	
}

.div-container-login {
    position: relative;
    margin: 10% auto;
    width: 600px;
    min-height: 300px;
    height: 25%;
}

